@import "~bulma"
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&subset=cyrillic')

.title
	font-family: Montserrat

.hero
	.hero-body
		padding: 0 3rem
	&.is-primary
		background-color: rgba(239, 151, 172, 1)
	.hero-illustration

.content
	p
		font-family: Roboto
	figure
		margin-left: 0
		margin-right: 0

.button
	font-family: Roboto
	translate: all .3s ease-in-out
	&:hover
		box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .1)

.footer
	background-color: hsl(0, 0%, 100%)
